body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}
#close{
	z-index: 10;
	background-image: url(../img/back.png);
	width:30px;
	height:17px;
	background-size: 10px 17px;
	background-repeat: no-repeat;
	background-position: center left;
	position: absolute;
	top:10px;
	left:10px;
}
a:hover {
	text-decoration: none;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}
#nowpage{
	display: inline-block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	font-size: 16px;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}
a {
	color: #8ff;
}

#menu {
	position: absolute;
	bottom: 60px;
	width: 100%;
	text-align: center;
}

#page {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

#page button {
	color: rgba(255, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(255, 255, 255, 0.75);
}

.element {
	width: 100px;
	height: 100px;
	/*width: 120px;
		height: 160px;*/
	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
	border: 1px solid rgba(127, 255, 255, 0.25);
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
	cursor: default;
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
	border: 1px solid rgba(127, 255, 255, 0.75);
}

.element div {
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.element .number {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 12px;
	color: rgba(127, 255, 255, 0.75);
}

.element .symbol {
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	font-size: 60px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .details {
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0px;
	font-size: 12px;
	color: rgba(127, 255, 255, 0.75);
}

button {
	color: rgba(127, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 255, 255, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}


button:hover{
	background-color: rgba(0, 255, 255, 0.5);
}

button:active,button.active {
	color: #000000;
	background-color: rgba(0, 255, 255, 0.75);
}

.show_info {
	position: fixed;
	background-color: rgba(0, 0, 0, .6);
	padding: 10px;
	width: 250px;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 #fff;
	top: 30%;
}

.show_info .close {
	color: #ffffff;
}

.show_info .cover_url {
	display: block;
	margin: auto;
	margin-right: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 #888;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.show_info .intro {
	color: #fff;
	text-indent: 20px;
	margin-top: 10px;
	height: 65px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.show_info .info_my {
	text-align: center;
}

.show_info .info_my>* {
	display: inline-block !important;
	vertical-align: middle;
}

.show_info .info_my .info_mem {
	color: #fff;
	max-width: 120px;
}

.show_info .info_my .info_mem>div {
	text-align: left;
}

.show_info .info_my .info_mem>div.nickname {
	max-width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#page button:disabled{
	color: rgba(100, 100, 100, 0.75);
	background: rgba(200, 200, 200, .75);
	outline: 1px solid rgba(200, 200, 200, .75);
	border: 0px;
	padding: 5px 10px;
	cursor: none;
}